@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Michroma', sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: auto;
    scroll-snap-type: y mandatory;
    
}
body{
    scroll-behavior: smooth;   
    overflow-y: scroll;
    overflow-x: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    flex-basis: 100vh;   
}



section{
    height: 100vh;
    scroll-snap-align: start;
    width: 100vw;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 auto;
    height: -webkit-fill-available;
    height: fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}


.zero{
    position: relative; /* Maintain the relative positioning for the section */
    height: 100vh; /* Set a fixed height for the section */
    display: flex; /* Arrange the video and heading elements within the section */
    justify-content: center; /* Center the elements horizontally */
    align-items: center; /* Center the elements vertically */
    background-size: cover; /* Resize the background image to fit the section */
    background-position: center; /* Center the background image */
    z-index: 0; /* Ensure the section is behind the video and heading */
}

h1:not(.logo-container) {
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    z-index: 3; /* Ensure the heading is above the video */


}

#v0 {
    position: fixed; /* Remove static positioning */
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    filter: brightness(80%);
    
}
p{
    width: 70%;
    z-index: 5;
}



img {
    position: fixed;
    max-width: 200px;
    display: inline-block;
    filter: invert(1);
    top: 0;
    left: 5%;
    z-index: 5;
}

.mouse {
    display: inline-block;
    width: 20px;
    height: 40px;
    border: 3px solid #ffffff;
    opacity: .8;
    border-radius: 60px;
    position: fixed;
    bottom: 0;
    left: 50%;
    justify-content: center;
    transform: translateX(-50%);
    transform: translateY(-100%);
    &::before {
        content: '';
        width: 2px;
        height: 8px;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-60%);
        background-color: #ffffff;
        border-radius: 50%;
        opacity: 1;
        animation: wheel 1.5s infinite;
        -webkit-animation: wheel 1.5s infinite;
    }
    z-index: 3;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}

nav{
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}

.navigation {
    position: fixed;
    top: 10px;
    right: -500px;
    width: 250px;
    transition: all 0.5s ease-in-out;
    z-index: 10;
  }


.navigation ul li{
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.5em;
    padding: 20px 30px;
    border-bottom: 1pt solid #252525;
    z-index: 4;
}

.hamburger, .bar{
    position: fixed;
}

.hamburger{
    display: block;
    top: 5%;
    left: 95%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar{
    top: 3px;
    background: #ffffff;
    width: 100%;
    height: 1px;
    transition: all .3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.hamburger.open #bar1{
    background-color: #fff;
    -webkit-transform: rotate(45deg) translate(6px, 5px);
    -moz-transform: rotate(45deg) translate(6px, 5px);
    -ms-transform: rotate(45deg) translate(6px, 5px);
    -o-transform: rotate(45deg) translate(6px, 5px);
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color: transparent;
}

.hamburger.open #bar3{
    background-color: #fff;
    -webkit-transform: rotate(45deg) translate(6px, -5px);
    -moz-transform: rotate(45deg) translate(6px, -5px);
    -ms-transform: rotate(45deg) translate(6px, -5px);
    -o-transform: rotate(45deg) translate(6px, -5px);
    transform: rotate(-45deg) translate(6px, -5px);
}

a {
    text-decoration: none;
  }
a:link    { color: rgb(255, 255, 255) }    /* unvisited links */
a:visited { color: rgb(255, 255, 255) }   /* visited links   */
a:hover   { color: rgb(255, 255, 255) } /* user hovers     */
a:active  { color: rgb(255, 255, 255) }   /* active links    */
a:active  { color: rgb(255, 255, 255) }   /* when element accepts tab focus */

.header a,
.header a:link,
.header a:visited,
.header a:active,
.header a:hover {
    color: rgb(255, 255, 255);
}
 
h1, p {
	-webkit-animation: focus-in-contract-bck 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-22 1:37:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  .progressBar {
    position: fixed;
top: 0;
left: 0;
height: 8px;
background: linear-gradient(to right, #ff5f6d, #ffc371);
width: 0%;
z-index: 100;
transition: width 0.2s ease-out;
z-index: 100;
}

